<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增知识库')"/>
    <th:block th:include="include :: select2-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: summernote-css"/>
    <!--<th:block th:include="include :: ztree-css" />-->
</head>
<style>
    #file_img .fileinput-upload-button {
        display: none;
    }

    /*.huanghang {*/
    /*white-space: pre-wrap;*/
    /*}*/
</style>
<body>
<div class="main-content">
    <form id="form-knowledge-add" action="/system/knowledge/add" method="post" class="form-horizontal"
          enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">商品名称：</label>
                    <div class="col-sm-8">
                        <input name="productName" th:value="${tKnowledge.productName}" id="productName"
                               class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">归属部门：</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="dataOrg" id="org">
                            <option th:if="${tKnowledge.dataOrg==null||tKnowledge.dataOrg==''}" value="" required>部门
                            </option>
                            <option th:if="${tKnowledge.dataOrg!=null && tKnowledge.dataOrg!=''}"
                                    th:value="${tKnowledge.dataOrg}">[[${tKnowledge.orgName}]]
                            </option>
                            <option th:each="org : ${orgs}" th:value="${org.dataOrg}"
                                    th:text="${org.getName()}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">商家编号：</label>
                    <div class="col-sm-8">
                        <input id="shopNum" th:value="${tKnowledge.shopNum}" name="shopNum" class="form-control"
                               type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">问题分类：</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="sort" id="sort">
                            <option th:if="${tKnowledge.sort==null || tKnowledge.sort==''}" value="">问题分类</option>
                            <option th:if="${tKnowledge.sort!=null && tKnowledge.sort!=''}"
                                    th:value="${tKnowledge.sort}">[[${tKnowledge.sortName}]]
                            </option>
                            <option th:each="sorts:${sorts}" th:value="${sorts.id}"
                                    th:text="${sorts.sort}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">问题描述：</label>
                    <div class="col-sm-8">
                        <input id="ask" th:value="${tKnowledge.ask}" name="ask" class="form-control" type="text"
                               minlength="1" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">生产厂家：</label>
                    <div class="col-sm-8">
                        <input id="productFactory" th:value="${tKnowledge.productFactory}" name="productFactory"
                               class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">店铺名称</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="shopId" name="shopId">
                            <option th:if="${tKnowledge.knowledgeGoodlinkCatMap!=null}"
                                    th:value="${tKnowledge.knowledgeGoodlinkCatMap.shopId}">
                                [[${tKnowledge.knowledgeGoodlinkCatMap.shopName}]]
                            </option>
                            <option th:if="${tKnowledge.knowledgeGoodlinkCatMap==null}" value="">店铺名称</option>
                            <option th:each="shop:${tshop}" th:value="${shop.id}"
                                    th:text="${shop.shopName}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">商品种类：</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="catId" name="catId">
                            <option th:if="${tKnowledge.knowledgeGoodlinkCatMap!=null}"
                                    th:value="${tKnowledge.knowledgeGoodlinkCatMap.catId}">
                                [[${tKnowledge.knowledgeGoodlinkCatMap.catName}]]
                            </option>
                            <option th:if="!${tKnowledge.knowledgeGoodlinkCatMap!=null}" value="">请选择产品种类</option>
                            <option th:each="goodcat : ${goodcat}" th:value="${goodcat.cid}"
                                    th:text="${goodcat.name}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">选择产品</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="goodslinkId" name="goodslinkId">
                            <option th:if="${tKnowledge.knowledgeGoodlinkCatMap!=null}"
                                    th:value="${tKnowledge.knowledgeGoodlinkCatMap.goodslinkId}">
                                [[${tKnowledge.knowledgeGoodlinkCatMap.goodlinkName}]]
                            </option>
                            <option th:if="!${tKnowledge.knowledgeGoodlinkCatMap!=null}" value="">请选择产品</option>
                            <option th:each="goodlink : ${goodlink}" th:value="${goodlink.numIid}"
                                    th:text="${goodlink.title}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <!--这个div没什么用，用来占位置的-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>答案</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <input id="ans" th:value="${tKnowledge.answer}" type="hidden">
                        <div class="summernote">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="form-header h4">文件信息</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" id="file_img">
                    <label class="font-noraml">文件上传</label>
                    <div class="file-loading">
                        <input name="file" id="file" type="file" multiple>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i
                    class="fa fa-check"></i>保 存
            </button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i
                    class="fa fa-reply-all"></i>关 闭
            </button>
        </div>
    </div>
</div>


<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: summernote-js"/>
<script type="text/javascript">


    $("#form-knowledge-add").validate();


    $(document).ready(function () {
        $('.summernote').summernote('code', '<div class="huanghang">' + ans + "</div");
        $("#file").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': '/common/upload',
            overwriteInitial: false,
            initialPreviewAsData: false
        });

        $("#file").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': '/common/upload',
            overwriteInitial: false,
            initialPreviewAsData: false
        });
    });


    var prefix = ctx + "system/knowledge";

    function submitHandler() {
        if ($.validate.form()) {
            var url = prefix + "/add";
            var org = $("#org").val();
            var productName = $("#productName").val();
            var shopNum = $("#shopNum").val();
            var sort = $("#sort").val();
            var productFactory = $("#productFactory").val();
            var ask = $("#ask").val();
            // var answer = $("#answer").val();
            var answer = $('.summernote').summernote('code');
            console.info(answer);
            var goodslinkId = $("#goodslinkId").val();
            var catId = $("#catId").val();
            var shopId = $("#shopId").val();
            var files = document.getElementById("file").files;

            var formFile = new FormData();
            formFile.append("dataOrg", org);
            formFile.append("productName", productName);
            formFile.append("shopNum", shopNum);
            formFile.append("sort", sort);
            formFile.append("productFactory", productFactory);
            formFile.append("ask", ask);
            formFile.append("goodslinkId", goodslinkId);
            formFile.append("catId", catId);
            formFile.append("shopId", shopId);
            formFile.append("answer", answer);
            for (var i = 0; i < files.length; i++) {
                formFile.append('file', files[i])
            }

            $.ajax({
                type: "POST",
                dataType: "json",//服务器返回的数据类型
                url: url,
                data: formFile,
                cache: false,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.operate.successTabCallback(result);
                },
                error: function () {
                    alert("异常！");
                }
            });
        }
    }
</script>
</body>
</html>
