<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('知识库列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <style>
        .huanghang {
            white-space: pre-wrap;
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>问题：</p>
                            <input type="text" name="ask"/>
                        </li>
                        <li>
                            <p>回答：</p>
                            <input type="text" name="answer"/>
                        </li>
                        <li>
                            <p>部门：</p>
                            <select name="dataOrg">
                                <option value="">部门</option>
                                <option th:each="org : ${orgs}" th:value="${org.getName()}"
                                        th:text="${org.getName()}">
                                </option>
                            </select>
                        </li>
                        <li>
                            <p>商家编号：</p>
                            <input type="text" name="shopNum"/>
                        </li>
                        <li>
                            <p>产品名称：</p>
                            <input type="text" name="productName"/>
                        </li>
                        <li>
                            <p>生产厂家：</p>
                            <select name="productFactory">
                                <option value="">生产厂家</option>
                                <option th:each="factory : ${factorys}" th:value="${factory.getName()}"
                                        th:text="${factory.getName()}">
                                </option>
                            </select>
                        </li>
                        <li>
                            <p>关键字：</p>
                            <input type="text" name="keyword" id="keyword"/>
                        </li>
                        <li id="sorts">
                            <label th:each="sorts:${sorts}" class="check-box">
                                <input name="sort_id" type="checkbox" th:value="${sorts.id}">
                                <span th:text="${sorts.sort}"></span>
                            </label>
                            <input type="hidden" name="sorts" id="sorts_hd"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="submitHandler()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="myreset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>

            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:knowledge:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.editTab()"
               shiro:hasPermission="system:knowledge:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:knowledge:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:knowledge:export">-->
            <!--<i class="fa fa-download"></i> 导出-->
            <!--</a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>


<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 1200px;">
        <div class="modal-content animated bounceInRight">
            <div id="modalbody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" onclick="hiddenmodel()" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<th:block th:include="include :: footer"/>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:knowledge:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:knowledge:remove')}]];
    var prefix = ctx + "system/knowledge";


    function hiddenmodel() {
        $("#myModal").css('display', 'none');
    }

    function myreset() {
        $.form.reset()
        document.location.reload();
    }


    var submitHandler = function () {
        if ($.validate.form()) {
            var roleIds = $.form.selectCheckeds("sort_id");
            $("[name='sorts']").val(roleIds);
            $.table.search();

            var flag1 = $("#keyword").val() != undefined;
            var flag2 = $("#keyword").val() != null;
            var flag3 = $("#keyword").val() != '';

            if (flag1 && flag2 && flag3) {
                var txtReportName = $("#keyword").val();
                var reg = new RegExp(txtReportName, 'ig');
                var tableId = document.getElementById("bootstrap-table");

                if (txtReportName != null) {
                    for (var i = 1; i < tableId.rows.length; i++) {
                        for (var j = 1; j < tableId.rows[i].cells.length - 1; j++) {
                            var bb = tableId.rows[i].cells[j].innerHTML;
                            var displayColor = '<span style="color:#ff0523">' + txtReportName + '</span>';
                            var cc = bb.replace(reg, displayColor);
                            tableId.rows[i].cells[j].innerHTML = cc;
                        }

                    }

                }

            }
        }
    }

    $(function () {
        $(".iCheck-helper").click(function(){
            // console.info("点击")
            submitHandler();
        });

        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                submitHandler();
            }
        });

        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailView: true,

            detailFormatter: detailFormatter,
            // onClickRow: onClickRow,
            modalName: "知识库",
            uniqueId: "id",//每一行的唯一标识，一般为主键列
            columns: [{
                checkbox: true
            },
                {
                    field: 'productName',
                    title: '产品名称',
                    formatter: function (value, row, index) {
                        return '<span>' + highlighted(value) + '</span>';
                    }
                },
                {
                    field: 'shopNum',
                    title: '商家编号',
                    formatter: function (value, row, index) {
                        return '<span>' + highlighted(value) + '</span>';
                    }
                },
                {

                    field: 'factoryName',
                    title: '生产厂家',
                    formatter: function (value, row, index) {
                        return '<span>' + highlighted(value) + '</span>';
                    }
                },
                {
                    field: 'ask',
                    title: '问题',
                    formatter: function (value, row, index) {
                        return '<span>' + highlighted(value) + '</span>';
                    }
                },

                {
                    field: 'answer',
                    title: '回答',
                    formatter: function (value, row, index) {
                        return '<div class="huanghang">' + highlighted(value) + '</div>';
                    },

                }
            ]
        };
        $.table.init(options);
    });

    function onClickRow(row, $element) {

        var src = "";

        $.get(prefix + "/getimg/" + row.id, function (result) {
            console.log("re:" + result);
            if (result != null && result != '') {
                var arr = result.split(",");


                layer.open({
                    title: false,
                    type: 1,
                    closeBtn: true,
                    shadeClose: true,
                    area: ['auto', 'auto'],
                    content: "<img src='" + arr[0] + "' onclick='alert(1)'  />"
                });
            }


        });


    }

    function detailFormatter(index, row) {
        var html = [];


        $.each(row, function (key, value) {
            if (key == "sort") {
                html.push(" <p>所属分类：" + highlighted(value) + "</p>");
            }
            if (key == "files") {
                html.push("<div class='col-md-12'>");
                for (var i = 0; i < value.length; i++) {
                    if (value[i].fileType=='1'){
                        html.push(" <div class=\"col-md-3 text-center\"> <img class=\"image img-rounded\"  onclick='showimg(\""+ value[i].filePath+"\")' src='" + value[i].filePath + "'  height='300px' width='300px'/></div>");
                    }else if (value[i].fileType=='2') {
                        html.push(" <div class=\"col-md-3 text-center\"><video controls=\"controls\" src='" + value[i].filePath + "'  height='300px' width='300px'/></div>");
                    }
                }
                html.push("</div>");


            }
        });

        return html.join('');
    }

    function showimg(path) {
        //$.table.imageView('http://demo.ruoyi.vip/img/profile.jpg');
        console.info("加载模态框数据"+path);
        layer.open({
            title: false,
            type: 1,
            closeBtn: true,
            shadeClose: true,
            area: ['auto', 'auto'],
            content: "<img src='" + path + "' height='" + 800 + "'/>"
        });
        $(function () {
            $(".file_img").click(function () {
                console.log("路径：" + $(this).attr(src));
            })
        })


        /* $.get(prefix+"/getimg/"+id, function (result) {
             $("#modalbody").html(result);
             console.info("加载模态框")
             $("#myModal").show();
         });*/
    }


    function highlighted(data) {
        if (data == null) {
            return "";
        }
        var flag1 = $("#keyword").val() != undefined;
        var flag2 = $("#keyword").val() != null;
        var flag3 = $("#keyword").val() != '';

        if (flag1 && flag2 && flag3) {
            var txtReportName = $("#keyword").val().trim();
            var reg = new RegExp(txtReportName, 'ig');
            var bb = data;
            var displayColor = '<span style="color:#ff0523">' + txtReportName + '</span>';
            var cc = bb.replace(reg, displayColor);
            return cc;

        } else {
            if (data != null) {
                return data;
            } else {
                return "";
            }
        }
    }
</script>
</body>
</html>