<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('知识库列表')"/>
    <th:block th:include="include :: layout-latest-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>问题：</p>
                            <input type="text" name="ask"/>
                        </li>
                        <li>
                            <p>回答：</p>
                            <input type="text" name="answer"/>
                        </li>
                        <li>
                            <p>部门：</p>
                            <select name="dataOrg" >
                                <option value="">部门</option>
                                <option th:each="org : ${orgs}" th:value="${org.getName()}"
                                        th:text="${org.getName()}">
                                </option>
                            </select>
                        </li>
                        <li>
                            <p>店铺编号：</p>
                            <input type="text" name="shopNum"/>
                        </li>
                        <li>
                            <p>产品名称：</p>
                            <input type="text" name="productName"/>
                        </li>
                        <li>
                            <p>生产厂家：</p>
                            <input type="text" name="productFactory"/>
                        </li>
                        <li>
                            <p>关键字：</p>
                            <input type="text" name="keyword"/>
                        </li>
                        <li id="sorts">
                            <label th:each="sorts:${sorts}" class="check-box">
                                <input name="sort_id" type="checkbox" th:value="${sorts.id}"
                                       th:text="${sorts.sort}">
                            </label>
                            <input type="hidden" name="sorts" id="sorts_hd"/>


                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="submitHandler()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="myreset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>

            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:knowledge:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.editTab()"
               shiro:hasPermission="system:knowledge:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:knowledge:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:knowledge:export">-->
                <!--<i class="fa fa-download"></i> 导出-->
            <!--</a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:knowledge:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:knowledge:remove')}]];
    var prefix = ctx + "system/knowledge";

    function myreset() {
        // var cks = $("input[name='sort_id']:checked");
        // console.log(cks);
        // for (var i = 0; i < cks.length; i++) {
        //     cks[i].checked = false;;
        //     console.log(cks[i]);
        // }
        //
        // // $("#sorts_hd").val("");
        $.form.reset()
        document.location.reload();
    }


    var submitHandler = function () {
        if ($.validate.form()) {
            var roleIds = $.form.selectCheckeds("sort_id");
            $("[name='sorts']").val(roleIds);
            $.table.search();
        }
    }

    $(function () {
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                submitHandler();
            }
        });

        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "知识库",
            uniqueId: "id",//每一行的唯一标识，一般为主键列
            columns: [{
                checkbox: true
            },
                {
                    field: 'ask',
                    title: '问题'
                },
                {
                    field: 'answer',
                    title: '回答',
                    width: 300,
                },
                {
                    field: 'dataOrg',
                    title: '部门'
                },
                {
                    field: 'shopNum',
                    title: '店铺名'
                }, {
                    title: '图片',
                    formatter: function (value, row, index) {
                        // 图片预览（注意：如存储在本地直接获取数据库路径，如有配置context-path需要使用ctx+路径）
                        // 如：/profile/upload/2019/08/08/3b7a839aced67397bac694d77611ce72.png
                        // $.table.imageView('http://demo.ruoyi.vip/ruoyi.png')
                        // return $.table.imageView(row.imagePath);
                        if(row.imagePath == ''||row.imagePath == null){
                            return '<span>暂无图片</span>';
                        }else {
                            return $.table.imageView(''+row.imagePath+'');
                        }

                    }
                },
                {
                    field: 'productName',
                    title: '产品名'
                },
                {
                    field: 'productFactory',
                    title: '生产厂家'
                },
                {
                    field: 'sort',
                    title: '所属分类'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


</script>
</body>
</html>