<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增生产厂家')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-factory-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">厂家名称：</label>
                <div class="col-sm-8">
                    <input id="name" name="name" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/factory"
        $("#form-factory-add").validate({
            focusCleanup: true,
            rules:{
                name:{
                    minlength: 2,
                    maxlength: 50,
                    remote: {
                        url: prefix + "/checknameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            name : function() {
                                return $.common.trim($("#name").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
            },
            messages: {
                "name": {
                    remote: "生产厂家已经存在"
                }
            }
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-factory-add').serialize());
            }
        }
    </script>
</body>
</html>